<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Location and Internet permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Add this line to enable write access to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:background="@drawable/button_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitMate"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBJMm8Dhc8gch8GtGfh_MtMFbcIYZH-4lw" />

        <!-- All other activities -->
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.RegisterUserActivity" />
        <activity android:name=".activities.LoginUser" />
        <activity android:name=".activities.BMIResultActivity" />
        <activity android:name=".activities.MealPlansActivity" />
        <activity android:name=".activities.ExercisePlansActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.HistoryActivity" />
        <activity android:name=".activities.StepCounterActivity"/>
        <activity android:name=".activities.HealthTipsActivity"/>
        <activity android:name=".activities.AmbientLightActivity"/>
        <activity android:name=".activities.WaterTrackerActivity"/>


        <!-- <activity android:name=".activities.NearestGymActivity" /> -->

        <!-- Launcher Activity -->
        <activity
            android:name=".activities.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
